// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import '~bulma/bulma';

.auth-card　{
    padding: 16px;
    border-radius: 15px;
}

.question-card {
    margin:8px;
    padding: 16px;
}

.detail-card-content {
    min-height:35vh;
}
.card-header {
    height: 52px;
    padding: 4px;
    border-radius: 15px;
    font-size: 28px;
}

.navbar-end {
    position:absolute;
    right: 32px;
}

.field-body .field {
    margin-bottom: 2rem;
}

.label:not(:last-child) {
    margin-bottom: 0;
}

.index-icon {
    margin-right:1rem;
    margin-left:1rem;
}

.detail-card {
    margin-top: 2rem;
    margin-bottom: 2rem;    
}

.panel {
    margin-bottom: 2rem;
}